<ion-view view-title="Login">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Login</div>
        <form method = "get" class="form-inline" role="form" action = "bhttps://evening-beyond-5571.herokuapp.com/users">
          <div class="form-group">
            <label class="sr-only" for="email">Email address:</label>
            <input type="email" class="form-control" id="email">
          </div>
            <div class="form-group">
            <label class="sr-only" for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd">
          </div>
          <button type="submit" class="btn btn-default">login</button>
        </form>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>


<!--<ion-view view-title="Dashboard">-->
  <!--<ion-content class="padding">-->
