<ion-view view-title="Manage Apartment">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Manage Properties</div>

      <form class="form-inline" role="form">
        <p>Add new property</p>
        <div class="form-group">
          <label class="sr-only">Manager:</label>
          <input type="text" class="form-control" id="managerProperty" ng-model='prop.manager'>
        </div>
        <div class="form-group">
          <label class="sr-only">name</label>
          <input type="text" class="form-control" id="apartmentsProperty" ng-model='prop.name'>
        </div>
        <div class="form-group">
          <label class="sr-only">Address</label>
          <input type="text" class="form-control" id="apartmentsProperty" ng-model='prop.address'>
        </div>
<!--         <div class="form-group">
          <label class="sr-only">Available?</label>
          <input type="text" class="form-control" id="apartmentsProperty" ng-model='prop.isAvail'>
        </div>
        <div class="form-group">
          <label class="sr-only">Square feet</label>
          <input type="text" class="form-control" id="apartmentsProperty" ng-model='prop.sqFt'>
        </div>
        <div class="form-group">
          <label class="sr-only">Bedrooms</label>
          <input type="text" class="form-control" id="apartmentsProperty" ng-model='prop.bedroom'>
        </div> -->

        <button type="submit" class="btn btn-default" ng-click='addApt(prop)'>Add Apartment</button>
        <br>

      <div class="item item-divider">Manage Apartments</div>

        <form method = "post" class="form-inline" role="form" action = "localhost:3000/users">
          <div class="form-group">
            <label class="sr-only">Aptnum:</label>
            <input type="number" class="form-control" id="aptnum" ng-model="apartment.aptnum">
          </div>
          <div class="form-group">
            <label class="sr-only">Bedrooms:</label>
            <input type="number" class="form-control" id="bedrooms" ng-model="apartment.bedrooms">
          </div>
          <div class="form-group">
            <label class="sr-only">Bathroom:</label>
            <input type="number" class="form-control" id="bathrooms" ng-model="apartment.bathrooms">
          </div>
          <div class="form-group">
            <label class="sr-only" >Tenants:</label>
            <input type="text" class="form-control" id="tenants" ng-model="apartment.tenants">
          </div>
          <div class="form-group">
            <label class="sr-only">Rent:</label>
            <input type="number" class="form-control" id="rent" ng-model="apartment.rent">
          </div>
          <div class="form-group">
            <label class="sr-only">Square Feet:</label>
            <input type="number" class="form-control" id="sqrft" ng-model="apartment.sqrft">
          </div>
          <div class="checkbox">
            <label><input type="checkbox">Available?</label>
          </div>
          <br>
          <button ng-click="addApt(apartment)" class="btn btn-default">Create apartment</button>
        </form>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
