<ion-view view-title="Manage User">
  <ion-content class="padding" ng-controller='loginCtrl'>
    <div class="list card">
      <div class="item item-divider">Create new user</div>
        <form class="form-inline" role="form">
          <div class="form-group">
            <label class="sr-only" for="email">Email address:</label>
            <input type="email" class="form-control" id="email" ng-model='email'>
          </div>
            <div class="form-group">
            <label class="sr-only" for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" ng-model='pwd'>
          </div>
          <div class="checkbox" ng-model="manager">
            <label><input type="checkbox">Are you a manager?</label>
          </div>
          <button ng-click="submitLoginInfo()" class="btn btn-default">Create user</button>
        </form>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
