<ion-view view-title="Dashboard">
  <ion-content class="padding">


    <div class="list card">
      <div class="item item-divider">Weather</div>
      <div class="item item-body">
        <img src={{image}} alt=""/>
        <h1>{{temp}}</h1>
        <h2>{{location}}</h2>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">Rhyme Chasers</div>
      <div class="item item-body">
        <div ng-repeat="friend in rhymeChasers" ng-click="heartBeat()">{{friend.name}}</div>
      </div>
    </div>

    <button ng-click="wiggle()">Wiggle Wiggle Wiggle</button>

  </ion-content>
</ion-view>
